services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '8080:8080'
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/fileStorage
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      MINIO_CLIENT_ENDPOINT: http://minio:9000
      MINIO_CLIENT_ACCESS_KEY: user
      MINIO_CLIENT_SECRET_KEY: password
      MINIO_BUCKET_NAME: user-files
    depends_on:
      - mysql
      - minio
      - redis

  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: "fileStorage"
      MYSQL_ROOT_PASSWORD: password
      MYSQL_PASSWORD: password
      MYSQL_USER: user
    ports:
      - '3306:3306'
    volumes:
      - mysql_cloud_file_storage_db_data:/var/lib/mysql

  minio:
    image: minio/minio:latest
    restart: always
    environment:
      MINIO_ROOT_USER: user
      MINIO_ROOT_PASSWORD: password
    ports:
      - '9000:9000'
      - '9001:9001'
    command: server /data --console-address ":9001"
    volumes:
      - minio_cloud_file_storage_data:/data

  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 5 1
    volumes:
      - redis_data:/data


volumes:
  mysql_cloud_file_storage_db_data:
  minio_cloud_file_storage_data:
  redis_data: